<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.study.googlemapsandroidapiexample">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCyE-tzkA5dpRJQuCbsIyS8s3oNrMcZu1Y" />

        <activity android:name=".Login_Page.Login_page_Activity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Main_Page.MainActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".Login_Page.Create_user_Acitivty" />
        <activity android:name=".Login_Page.Serch_id_Activity"
            android:screenOrientation="landscape"/>
        <activity android:name=".Login_Page.Serch_pass_Activity"
            android:screenOrientation="landscape"/>
        <activity android:name=".Login_Page.Serch_result_id_Activity"
            android:screenOrientation="landscape"/>
        <activity android:name=".Login_Page.Serch_result_pw_Activity"
            android:screenOrientation="landscape"/>
    </application>


</manifest>